[Desktop Entry]
Name=Calc420
Comment=Simple calculator
Exec=/usr/share/calc420/calc420
Icon=accessories-calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Calculator;
