#!/usr/bin/make -f

executable = $(CURDIR)/calc420
launcher = $(CURDIR)/calc420.desktop
interface = $(CURDIR)/interface.glade
license = $(CURDIR)/LICENSE
help = $(CURDIR)/help.pdf

DEST1 = $(CURDIR)/debian/calc420/usr/bin/
DEST2 = $(CURDIR)/debian/calc420/usr/share/applications

build: build-stamp

build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

install: build clean $(executable) $(launcher) $(interface) $(license) $(help)
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	mkdir -m 755 -p $(DEST1)
	mkdir -m 755 -p $(DEST2)

	install -m 777 $(executable) $(DEST1)
	install -m 666 $(interface) $(DEST1)
	install -m 666 $(license) $(DEST1)
	install -m 666 $(help) $(DEST1)
	install -m 777 $(launcher) $(DEST2)

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
	
